/* styles/AnimatedText.module.css */
.backend{background-color: rgb(26, 26, 26);}
.card {
      height: 30vh;
      width: 30vh; 
      margin-left: 6vh;
}
.backend_card {

      border: solid 2px rgb(57, 57, 57);
      width: 40%;
      margin: 0 auto;
      box-shadow: 7px 7px 7px 0 rgba(83, 241, 20, 0.416);



}
.animated_text {
    color: #7dff52;
    background-color:  rgb(26, 26, 26);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    
    
  }

  .container {color: #7dff52;
    
  text-align: left;
  font-size: 12px;
  width: 90%;
  margin: 0 auto;

  }
  