.Blog {
color: #2c2c2c;
background-color: rgb(255, 255, 255);
}
.Blog_Fullstack {
    background-color: #2c2c2c;
    height: 45vh;
    margin-top: -12vh;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.807), rgba(15, 15, 15, 0.85)) , url(https://w.forfun.com/fetch/0b/0bc739968eeb709d8eebbdb132141cb8.jpeg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
@media(max-width: 400px){
  .Blog_Fullstack{
   background-attachment: scroll;
  }
}

.Full {
    text-align: center;
    color: #fff;

}
  .DarkMode {
    background-color: rgb(60, 60, 60);
    color: #fff;
    transition: 1s;
  }
  .dark_mode{
    background-color: #2c2c2c;
    color: #fff;
    border: solid 1px #2c2c2c;
    cursor: pointer;
    height: 10vh;
    width: 40vh;
    border-radius: 2px;
    transition: 0.6s;

  }
  .dark_mode:hover{
    box-shadow: 5px 5px 5px 0 rgba(3, 255, 171, 0.285); 
    transition: 1s;
    animation: slideUpDown 1s ease-in-out infinite; /* Ajusta la duración según sea necesario */



  }
  @keyframes slideUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(6px); /* Ajusta el valor según sea necesario */
    }
  }
  
  .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .main {
    box-shadow: 10px 10px 10px 0 rgba(27, 27, 27, 0.376); 
    font-size: 12px;
 }
  .side {
    box-shadow: 10px 10px 10px 0 rgba(27, 27, 27, 0.376); 
    font-size: 12px;

 }
  .main,
  .side {
    padding: 2%;
    border-radius: 5px
  }
  
  @media(max-width: 400px){
    .grid {
      grid-template-columns: 1fr;
    }
  }